.u-section-1 {
  background-image: none;
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  height: 791px;
  animation-duration: 1000ms;
  margin: 39px auto 0 -130px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: -94px 80px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 35px;
  min-height: 16px;
  width: 95px;
  min-width: 57px;
  white-space: nowrap;
  margin: 28px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 971px;
  }

  .u-section-1 .u-image-1 {
    height: 635px;
    width: 990px;
    margin-top: 134px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -58px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 992px;
  }

  .u-section-1 .u-image-1 {
    height: 586px;
    width: 783px;
    margin-top: 135px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -22px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 875px;
  }

  .u-section-1 .u-image-1 {
    height: 416px;
    width: 590px;
    margin-top: 144px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 333px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -403px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 696px;
  }

  .u-section-1 .u-image-1 {
    height: 279px;
    width: 390px;
    margin-top: 141px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 455px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-social-icons-1 {
    height: 27px;
    width: 78px;
    margin-top: -504px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 830px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1160px;
  margin: 59px -20px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 109px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 109px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 20px 5px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 3px 0 0;
}

.u-section-2 .u-list-1 {
  min-height: 576px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-gap: 10px 10px;
  margin: 50px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 377px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 377px;
  animation-duration: 1000ms;
  object-position: 58.79% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 377px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 900;
  margin: -562px 796px 0 249px;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 900;
  margin: -33px 413px 0 540px;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 900;
  margin: -33px -749px 60px 796px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 88px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 88px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    min-height: 475px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -503px;
    margin-right: 649px;
    margin-left: 196px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -26px;
    margin-right: 312px;
    margin-left: 441px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -26px;
    margin-right: 12px;
    margin-left: 657px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1371px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 67px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 67px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1091px;
    grid-template-columns: calc(((100% - 720px) / 2) + 355px) calc(((100% - 720px) / 2) + 355px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 353px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 353px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 353px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-top: -1074px;
    margin-right: 382px;
    margin-left: 243px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 533px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 526px;
    margin-right: 391px;
    margin-left: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2916px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 74px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    min-height: 2378px;
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 612px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 15px;
    margin-right: 375px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 612px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 15px;
    margin-right: 375px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 612px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 15px;
    margin-right: 375px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
    margin-top: -2369px;
    margin-right: 0;
    margin-left: 432px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
    margin-top: 766px;
    margin-left: 338px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.875rem;
    margin-top: 762px;
    margin-right: 10px;
    margin-left: 211px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1429px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 34px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-list-1 {
    min-height: 1084px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 15px;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 15px;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 15px;
  }

  .u-section-2 .u-image-3 {
    height: 200px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    margin-top: -1082px;
    margin-right: 75px;
    margin-left: 170px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 337px;
    margin-right: 53px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
    margin-top: 339px;
    margin-right: 0;
    margin-left: 48px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 579px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1020px;
  margin: 0 auto;
}

.u-section-3 .u-image-1 {
  min-height: 587px;
  background-image: url("images/34D477CA-66BF-451C-AA2F-BFE3CF609B87.JPG");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-shape-1 {
  width: 54px;
  height: 117px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 587px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-style: normal;
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 1;
  text-transform: none;
  margin: 59px -50px 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 13px 40px 0 0;
}

.u-section-3 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: -48px 40px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 569px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 569px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 560px;
    background-position: 81.02% 50%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 29px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1257px;
  }

  .u-section-3 .u-image-1 {
    min-height: 821px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 954px;
  }

  .u-section-3 .u-image-1 {
    min-height: 374px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -46px;
  }
}