.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 940px;
}

.u-section-1 .u-shape-1 {
  width: 427px;
  height: 653px;
  margin: 88px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: -555px 442px 0 0;
}

.u-section-1 .u-gallery-1 {
  height: 370px;
  width: 1052px;
  grid-gap: 10px 10px;
  margin: 73px auto 60px 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-image-3 {
  object-position: 53.73% 50%;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-1 .u-shape-1 {
    width: 352px;
    margin-top: 123px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.3125rem;
    width: auto;
    margin-top: -590px;
    margin-right: 352px;
  }

  .u-section-1 .u-gallery-1 {
    height: 261px;
    width: 867px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1148px;
  }

  .u-section-1 .u-shape-1 {
    height: 571px;
    margin-top: 56px;
    margin-right: -20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: -498px;
    margin-right: 379px;
  }

  .u-section-1 .u-gallery-1 {
    height: 608px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1689px;
  }

  .u-section-1 .u-shape-1 {
    width: 270px;
    height: 855px;
    margin-top: 74px;
    margin-right: -32px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -811px;
    margin-right: 302px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-gallery-1 {
    height: 1188px;
    margin-top: 48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1103px;
  }

  .u-section-1 .u-shape-1 {
    height: 472px;
    width: 198px;
    margin-top: 48px;
    margin-right: -27px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -472px;
    margin-right: 102px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-gallery-1 {
    height: 841px;
    margin-top: 36px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}