.u-section-1 .u-sheet-1 {
  min-height: 830px;
}

.u-section-1 .u-list-1 {
  min-height: 576px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-gap: 10px 10px;
  margin: 170px 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 377px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 377px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 377px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 900;
  margin: -562px 796px 0 249px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 900;
  margin: -33px 413px 0 540px;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 900;
  margin: -33px 0 60px 801px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-1 .u-list-1 {
    min-height: 475px;
    height: auto;
    margin-top: 183px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -503px;
    margin-right: 649px;
    margin-left: 196px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -26px;
    margin-right: 312px;
    margin-left: 441px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -26px;
    margin-right: 12px;
    margin-left: 657px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1564px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1091px;
    grid-template-columns: calc(((100% - 720px) / 2) + 355px) calc(((100% - 720px) / 2) + 355px);
    margin-top: 162px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 353px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 353px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 353px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-top: -1074px;
    margin-right: 382px;
    margin-left: 243px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 533px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 539px;
    margin-right: 391px;
    margin-left: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2916px;
  }

  .u-section-1 .u-list-1 {
    min-height: 2378px;
    grid-template-columns: 100%;
    margin-top: 254px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 612px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
    margin-right: 375px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 612px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 15px;
    margin-right: 375px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 612px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 15px;
    margin-right: 375px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
    margin-top: -2369px;
    margin-right: -16px;
    margin-left: 412px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    margin-top: 765px;
    margin-right: -64px;
    margin-left: 330px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
    margin-top: 763px;
    margin-right: 10px;
    margin-left: 211px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1332px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1084px;
    margin-top: 248px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 15px;
  }

  .u-section-1 .u-image-1 {
    height: 171px;
    width: 145px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 15px;
  }

  .u-section-1 .u-image-2 {
    height: 171px;
    width: 145px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 15px;
  }

  .u-section-1 .u-image-3 {
    height: 171px;
    width: 145px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-top: -1084px;
    margin-right: 75px;
    margin-left: 170px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 355px;
    margin-right: 53px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 330px;
    margin-right: 0;
    margin-left: 48px;
  }
}