.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 776px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 900;
  background-image: none;
  animation-duration: 1000ms;
  margin: 214px 499px 0 84px;
}

.u-section-1 .u-text-2 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 2px;
  animation-duration: 1000ms;
  margin: 56px 625px 60px 84px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 238px;
    margin-right: 453px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 46px;
    margin-right: 484px;
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 249px;
    margin-right: 278px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 72px;
    margin-right: 289px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 240px;
    margin-right: 109px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 57px;
    margin-right: 109px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 221px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 52px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 565px;
}

.u-section-2 .u-image-1 {
  width: 455px;
  height: 404px;
  animation-duration: 1000ms;
  margin: 41px 70px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 900;
  background-image: none;
  animation-duration: 1000ms;
  margin: -434px 82px 0 627px;
}

.u-section-2 .u-text-2 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 2px;
  animation-duration: 1000ms;
  margin: -18px 627px 0 82px;
}

.u-section-2 .u-text-3 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 2px;
  animation-duration: 1000ms;
  margin: 24px 627px 0 82px;
}

.u-section-2 .u-social-icons-1 {
  height: 36px;
  min-height: 16px;
  width: 36px;
  min-width: 16px;
  white-space: nowrap;
  margin: 40px auto 0 164px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -124px auto 0 345px;
  padding: 1px 12px 1px 11px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 93px 911px 0 136px;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -45px auto 60px 292px;
  padding: 3px 12px 4px 11px;
}

.u-section-2 .u-icon-2 {
  font-size: 0.7em;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 61px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 509px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 509px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 30px;
    margin-right: 509px;
    margin-left: 0;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 26px;
    margin-left: 103px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -112px;
    margin-left: 264px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 89px;
    margin-right: 775px;
    margin-left: 72px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -57px;
    margin-left: 211px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 297px;
    height: 396px;
    object-position: 79.6% 50%;
    margin-top: 70px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -415px;
    margin-right: -141px;
    margin-left: 430px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -19px;
    margin-right: 360px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 22px;
    margin-right: 340px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 29px;
    margin-left: 87px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -114px;
    margin-left: 263px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 86px;
    margin-right: 569px;
    margin-left: 58px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -45px;
    margin-left: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 224px;
    height: 266px;
    object-position: 70.53% 50%;
    margin-top: 71px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -276px;
    margin-right: -117px;
    margin-left: 316px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -16px;
    margin-right: 237px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-1 {
    height: 27px;
    width: 27px;
    margin-top: 18px;
    margin-left: 177px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -89px;
    margin-right: 196px;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 63px;
    margin-right: 303px;
    margin-left: 144px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -40px;
    margin-left: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-image-1 {
    margin-top: 40px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 220px;
    margin-top: -277px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 260px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 39px;
  }

  .u-section-2 .u-social-icons-1 {
    height: 29px;
    width: 29px;
    margin-top: 39px;
    margin-left: 91px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -112px;
    margin-right: -6px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 86px;
    margin-right: 189px;
    margin-left: 59px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -46px;
    margin-left: 179px;
  }
}